body {
    --text-color: #242424;
    --background-color: #ECECEC;
    --link-color: #595AD3;
    --border-color: #8E8E93;
    --visited-color: #AE58DB;
}


@media (prefers-color-scheme: dark) {
    body {
        --text-color: #E0E1E2;
        --background-color: #121213;
        --link-color: #5F61E3;
        --border-color: #98989D;
        --visited-color: #BE60EF;
    }
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Roboto, sans-serif;
}


img {
    max-width: 100%;
    height: auto;
}

a img {
    border-bottom: none;
}

h1 {
    font-family: -apple-system-headline, sans-serif;
}

a {
    text-decoration: none;
    border-bottom: solid 1px var(--link-color);
    color: inherit;
}

a:visited {
    color: inherit;
    border-bottom: solid 1px var(--visited-color);
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.center h1 {
    margin-top: 0;
}

.container {
    display: flex;
    align-items: flex-start;
    margin: 16px;
    align-content: space-around;
}

.container > div {
    margin: 16px;
}

.container .about-me {
    flex: 0 1 auto;
    width: 40%;
}

.about-me {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.container .projects-list {
    flex: 0 1 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start
}

.links > a {
    margin-bottom: 2px;
}

.links {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin-top: 8px;
}

.mobile-title {
    display: none;
}

.project img {
    margin: 0 auto;
}

.project {
    padding: 8px;
    border: solid 2px var(--border-color);
    margin: 4px;
    border-radius: 8px;
    flex: 1 1 25%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.project > {
    flex: 1 1 auto;
}

.project>a, .project>a:visited {
    text-decoration: none;
    outline: none;
    border-bottom: none;
    color: inherit
}

.project>a h1:hover {
    border-bottom: solid 1px var(--link-color);
}

.project>a:hover :not(img) {
    text-decoration: none;
    border-bottom: solid 1px var(--link-color);
}

.project>a:visited {
    text-decoration: none;
    outline: none;
    color: inherit;
}

@media screen and (max-width: 750px) {
    .mobile-title {
        display: block;
        width: 100%;
    }

    .wide-title {
        display: none;
    }

    .container {
        flex-wrap: wrap;
    }
    .container .about-me {
        width: auto;
        order: 0;
    }

    .container .projects-list {
        flex-wrap: wrap;
    }

    .project {
        width: 100%;
        max-width: 100%;
        flex-basis: auto;
    }
}
